{% if settings.show_top_header and (settings.aviso_text_1 or
settings.aviso_text_2 or settings.aviso_text_3 or settings.aviso_text_4) %}
<div class="top-header">
  <div class="container">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for i in 1..4 %} {% if attribute (settings, 'aviso_text_' ~ i) %}
        <div class="item swiper-slide">
          <p>{{ attribute (settings, 'aviso_text_' ~ i) }}</p>
        </div>
        {% endif %} {% endfor %}
      </div>
      <div class="swiper-button-prev header-prev"></div>
      <div class="swiper-button-next header-next"></div>
    </div>
  </div>
</div>
{% endif %}
