{% if product.available and (product.stock > 0 or settings.without_stock_sale) and not product.upon_request %}
    <div class="variants">

        {% set productVar = product.Variants|length ? product.Variants :  product.variants %}
        {% set listVariants = [] %}
        {% set listVariantsSecond = [] %}
        {% set variants = [] %}
        {% set variantName = '' %}
        {% set variantSecondName = '' %}

        {% for variant in productVar %}

            {% if loop.index == 1 %}

                {% if variant.Sku[1] %}
                    {% set variantSecondName = variant.Sku[1].type %}
                {% endif %}
                {% set variantName = variant.Sku[0].type %}

            {% endif %}

            {% set stock = variant.stock %}

            {% set optionOneRegex = variant.Sku[0].value | url_encode | replace({'%E1' : 'a','%E0' : 'a','%E2' : 'a','%E3' : 'a','%E4' : 'a','%E9' : 'e' ,'%E8' : 'e' ,'%EA' : 'e' ,'%EB' : 'e','%ED' : 'i' ,'%EC' : 'i'  ,'%EE' : 'i','%EF' : 'i','%F3' : 'o'  ,'%F2' : 'o' ,'%F4' : 'o' ,'%F5' : 'o','%F6' : 'o','%FA' : 'u','%F9' : 'u' ,'%FB' : 'u','%FC' : 'u','%E7' : 'c','%C1' : 'A'  ,'%C0' : 'A' ,'%C2' : 'A'  ,'%C3' : 'A','%C4' : 'A','%C9' : 'E','%C8' : 'E' ,'%CA' : 'E' ,'%CB' : 'E','%CD' : 'I','%CC' : 'I' ,'%CE' : 'I','%CF' : 'I' ,'%D3' : 'O' ,'%D2' : 'O' ,'%D4' : 'O' ,'%D5' : 'O' ,'%D6' : 'O','%DA' : 'U' ,'%D9' : 'U' ,'%DB' : 'U','%DC' : 'U','%C7' : 'C', '%20': ' '}) %}
            {% set optionTwoRegex = variant.Sku[1].value | url_encode | replace({'%E1' : 'a','%E0' : 'a','%E2' : 'a','%E3' : 'a','%E4' : 'a','%E9' : 'e' ,'%E8' : 'e' ,'%EA' : 'e' ,'%EB' : 'e','%ED' : 'i' ,'%EC' : 'i'  ,'%EE' : 'i','%EF' : 'i','%F3' : 'o'  ,'%F2' : 'o' ,'%F4' : 'o' ,'%F5' : 'o','%F6' : 'o','%FA' : 'u','%F9' : 'u' ,'%FB' : 'u','%FC' : 'u','%E7' : 'c','%C1' : 'A'  ,'%C0' : 'A' ,'%C2' : 'A'  ,'%C3' : 'A','%C4' : 'A','%C9' : 'E','%C8' : 'E' ,'%CA' : 'E' ,'%CB' : 'E','%CD' : 'I','%CC' : 'I' ,'%CE' : 'I','%CF' : 'I' ,'%D3' : 'O' ,'%D2' : 'O' ,'%D4' : 'O' ,'%D5' : 'O' ,'%D6' : 'O','%DA' : 'U' ,'%D9' : 'U' ,'%DB' : 'U','%DC' : 'U','%C7' : 'C', '%20': ' '}) %}
            {% if variant.id|length == '0' %}

                {% set variants = '' %}

            {% elseif variant.Sku[1] %}
                {% set variants = variants|merge([{"price": {"price": variant.price_offer != 0 ? variant.price_offer : variant.price, "payment": variant.payment_option, "payment_html" : variant.payment_option_html | e('html') }, "id": variant.id, "stock": settings.without_stock_sale ? '99999' : stock, "option": optionOneRegex, "option2": optionTwoRegex, "image1": variant.Sku[0].image_secure, "image2": variant.Sku[1].image_secure, "imageProduct1": variant.images[0].full, "imageProduct2": variant.images[1].full != "" ? variant.images[1].full : ""}]) %}

                {% set valueSecond = variant.Sku[1].value %}
                {% if not (valueSecond in listVariantsSecond) %}
                    {% set listVariantsSecond = listVariantsSecond|merge([valueSecond]) %}
                {% endif %}

            {% else %}

                {% set variants = variants|merge([{"price": {"price": variant.price_offer != 0 ? variant.price_offer : variant.price, "payment": variant.payment_option, "payment_html" : variant.payment_option_html | e('html') }, "id": variant.id, "stock": settings.without_stock_sale ? '99999' : stock, "option": optionOneRegex,"image1": variant.Sku[0].image_secure, "imageProduct1": variant.images[0].full, "imageProduct2": variant.images[1].full != "" ? variant.images[1].full : "" }]) %}
                
            {% endif %}

            {% set value = optionOneRegex %}
            {% if not (value in listVariants) %}
                {% set listVariants = listVariants|merge([value]) %}
            {% endif %}
        {% endfor %}

        <form class="list-variants" data-id="{{ product.id }}" data-variants='{{ variants ? variants|json_encode : "" }}' data-api-cart="1">

            {% if variantName == 'Cor' %}
                <div class="color-select">
                    <div class="variant-types">
                        <span>{{ variantName }}</span>
                    </div>
                    <ul class="first option-select option-color">
                        
                        {% for value in listVariants %}
                            {% set variantImage = '' %}
                            {% for variant in variants %}
                                {% if variant.option == value %}
                                    {% set variantImage = variant.image1 %}
                                {% endif %}
                            {% endfor %}
                            <li data-value="{{ value }}" >
                                <img src="{{ variantImage }}" alt="{{ value }}" class="color_select">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% elseif variantName %}
                <label class="select-variants">
                    <div class="variant-types">
                        <span>{{ variantName }}</span>
                    </div>
                    <select class="first" required>
                        <option value="" hidden>Selecione</option>
                        {% for value in listVariants %}
                            <option value="{{ value }}" data-price="{{ price }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </label>
            {% endif %}

            {% if variantSecondName %}
                <label class="select-variants">
                    <div class="variant-types">
                        <span>{{ variantSecondName }}</span>
                    </div>
                    <select class="second option-select" required disabled>
                        <option value="" hidden>Selecione</option>
                        {% for variant in variants %}
                            {% if variant.option2 %}
                                {% for valueSecond in listVariantsSecond %}
                                    {% if valueSecond == variant.option2 %}
                                        <option value="{{ valueSecond }}" data-related-to="{{ variant.option }}" data-price="{{ variant.price.price }}">{{ valueSecond }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
            {% endif %}

            <div class="alert-dont-stock" style="display:none">
                <p>Variação indisponível</p>
            </div>

            <div class="flex add-cart"> 
                <div data-app="product.quantity" class="qtd-prod flex">
                    <button type="button" data-app="product.qty" data-action="minus" data-product ="{{ product.id }}" aria-label="Diminuir quantidade">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5 10a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1z" clip-rule="evenodd" />
                        </svg>
                    </button>
                    <input type="number" class="form-control" min="1" max="99" step="1" name="qty" id="quant qtd-prod-id-{{ product.id }}" value="1" size="3" aria-label="Quantidade">
                    <button type="button" data-app="product.qty" data-action="plus" data-product ="{{ product.id }}" aria-label="Aumentar quantidade">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
                <button class="action add-to-cart botao" data-product ="{{ product.id }}" aria-label="Adicionar ao carrinho">Adicionar</button>
            </div>
        </form>

    </div>
{% endif %} 