{% set quantity = personalizado_quantity_1 | default(8) %} {% set slide = slide
%} {% set variants = true %} {# =============================== CONFIGURAÇÃO DOS
FILTROS =============================== #} {% set filters = ['available'] %} {%
if personalizado_type_1 and personalizado_type_1 != 'recent' %} {% set filters = filters |
merge([personalizado_type_1]) %} {% endif %} {# ===============================
BUSCA DE PRODUTOS =============================== #} {% if personalizado_type_1 == 'recent' %} {% set products =
Products({ 'filter': ['available'], 'order': { 'id': 'desc' }, 'limit': quantity, 'categories':
personalizado_category_1 }) %} {% else %} {% set products =
Products({ 'filter': filters, 'limit': quantity, 'categories':
personalizado_category_1 }) %} {% endif %} {# =============================== SEÇÃO
=============================== #} {% if products | length > 0 %}

<section class="s-personalizados" style="order: 8">
  <div class="container">
    <div class="topo">
      <div class="section-header">
        <h2 class="title-section">{{ settings.personalizado_title_1 }}</h2>
        <p>{{ settings.personalizado_desc_1 }}</p>
      </div>

      <div class="banner">
        <a href="{{ settings.personalizado_link_1 }}" class="banner-desk">
          <img
            src="{{ asset(settings.personalizado_banner_desktop) }}"
            alt=""
          />
        </a>

        <a href="{{ settings.personalizado_link_1 }}" class="banner-mobile">
          <img src="{{ asset(settings.personalizado_banner_mobile) }}" alt="" />
        </a>
      </div>
    </div>

    <div class="personalizados swiper">
      <div class="swiper-wrapper">
        {% for item in products %}

        <div class="swiper-slide">
          {% element 'snippets/product' { product: item, slide: slide, variants:
          variants } %}
        </div>

        {% endfor %}
      </div>
    </div>

    <div class="cont-nav">
      <div class="dots"></div>

      <div class="setas">
        <button class="btn-nav btn-prev">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="14"
            viewBox="0 0 8 14"
            fill="none"
          >
            <path
              d="M7 13L1 7L7 1"
              stroke="#6B7280"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>

        <button class="btn-nav btn-next">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="14"
            viewBox="0 0 8 14"
            fill="none"
          >
            <path
              d="M1 13L7 7L1 1"
              stroke="#6B7280"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

{% endif %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    new Swiper(".personalizados.swiper", {
      slidesPerView: 4,
      spaceBetween: 24,
      loop: true,

      pagination: {
        el: ".s-personalizados .dots",
        clickable: true,
        bulletClass: "dot",
        bulletActiveClass: "dot-active",
      },

      navigation: {
        nextEl: ".s-personalizados .btn-next",
        prevEl: ".s-personalizados .btn-prev",
      },

      breakpoints: {
        0: {
          slidesPerView: 1.2,
        },

        480: {
          slidesPerView: 2,
        },

        768: {
          slidesPerView: 3,
        },

        1024: {
          slidesPerView: 4,
        },
      },
    });
  });
</script>
